.nav {
  background-color: orangered;
}

/* ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
} */

/* Never element selectors, this will be applied to entire application and violates the CSS module component principle */
/* Instead define like below using the classname where the styles should be applied */

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* Defining a global CSS */
.test {
  background-color: blue;
}

/* If this class name is used in  any of the pages other than PageNav, it doesn't work because in DOM it doesn't create the classname suffixed with unique ID.  */

/* To make it global use below */
:global(.test) {
  background-color: blue;
}
